* {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

html, body {
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#appcontainer {
  display: flex;
  flex-direction: column;
  height: 99.9%;
}

#notetabs {
  display: inline-block;
  background-color: #ddd;
  display: flex;
  flex-shrink: 0;
}

#notetabs div {
  padding: 12px;
  margin: 0;
  cursor: pointer;
  font-size: 24px;
  color: #777;
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#addButton {
  font-size: 28px;
  margin-left: 10px;
  cursor: pointer;
  color:white !important;
  text-align: center;
  background-color: #2f9b1b;
  padding: 6px 12px 6px 12px;
  align-self: flex-end;
  width: 40px;
  flex: 0 1 auto !important;
}

.activeTab {
  color: #111 !important;
  font-weight: bold;
  background-color: #bbb;
}

.editor {
  width: 100%;
  padding: 15px;
  height: 90vh;
  flex-grow: 1;
  background-color: #1f1f1f;
  color: #ddd;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 17px;
}

.note {
  border: 2px solid #bbb;
  padding: 0px;
  margin: 0px;
  height: 99%;
  overflow: auto
}

.notecontent {
  padding: 15px;
}

.notetools {
  background-color: #2f9b1b;
  position: absolute;
  padding: 10px 15px 10px 15px;
  right: 30px;
  top: 70px;
  height: 37px;
  float: right;
  color: white;
  font-size: 28px;
  border-radius: 8px;
}

.notetools img {
  fill: #175a0b;
  color: #175a0b;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.note pre {
  background-color: #ddd;
  padding: 15px;
}

.note code {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

.note p code {
  padding: 2px;
  background-color: #ddd;
}

.note img {
  max-width: 100%;
}

.note table {
  border-collapse: collapse;
}

.note td {
  border: 2px solid #bbb;
  padding: 5px;
}

.note th {
  border: 2px solid #bbb;
  padding: 5px;
  background-color: #ddd;
}

.note blockquote {
  padding: 15px;
  border-radius: 8px;
  background-color: #ddd;
}